@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');


h3 {
    font-family: 'Roboto', Helvetica, sans-serif;
    text-align: center;
    padding: 0px;
    margin: 5px;
    color:white;

}

div{
    width: 50%;
    margin: auto;
    border-bottom: 1.5px solid white;
    
}
